.body{
    display: none;
}


.allmessage{
    display: grid;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(196, 196, 196, 0.185);
}
#message-container{
    height: 150px;
    overflow: scroll;
    display: grid;
    gap: 7px;
    padding: 7px;
    scrollbar-width: none;
    background-color: rgba(0, 0, 0);
}

#message-container .message-utils{
  display: grid;
  place-items: left;
  color: white;
  width: 100%;
  height: fit-content;
}
#message-container .message-table{
    font-size: smaller;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border: 1px solid grey;
    padding: 5px;
    display: grid;
    place-items: left;
    width: 100%;
  height: fit-content;
}

#message-container .message-table .name{
    font-weight: bold;
    font-size: 7px;
    display: flex;
    justify-content: left;
    padding-left: 1px;
     color:white;
}

#message-container .message-table .message{
    display: flex;
    justify-content: left;
    padding-left: 4px;
    font-size: 14px;
     color:white;
}



.player{
    display: flex;
    gap: 5px;
    align-items: baseline;
    justify-content: center;
}
#message-container::-webkit-scrollbar{
    display: none;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    padding: 5px;
    background-color: green;
    color: black;
    border-bottom:1px solid black;
}

.num-player{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 5px;
    cursor: pointer;
}

.num-player p{
    font-weight: bold;
}


.exit{
    cursor: pointer;
}

.exit:hover{
    color: red;
}


.dimmed {
  opacity: 0.1;
  pointer-events: none; /* evita click sugli elementi oscurati */
}
.exit-content {
    display: none;
  opacity: 1 !important;
  pointer-events: auto !important;
  position: absolute;
  z-index: 9999;
  border: 1px solid black;
  padding: 15px;
  place-items: center;
  gap: 10px;
  width: fit-content;
  height: fit-content;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: grey;
  border-radius: 15px;
  box-shadow: 5px 5px 10px black;
}

.exit-content .button{
    display: flex;
    gap: 5px;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
}

.websocket{
    display: grid;
    margin-left: 4px;
    width: fit-content;
    height: fit-content;
    background-color: white;
}

.connection-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: last baseline;
    gap: 5px;
    border-bottom:1px solid black ;
}

.connection-info{
    border: 1px solid black;
    overflow: scroll;
    scrollbar-width: none;
    max-width: 150px;
    max-height: 200px;
}
.connection-info::-webkit-scrollbar{
    display: none;
}

.connection-info li{
     max-width: 100%;
    padding: 2px;
    white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 10px;
}

.connection-menu i{
    cursor: pointer;
}

.connection_menu i:hover{
   color: rgba(0, 0, 0, 0.589);
}

.player-list{
    display: none;
    gap: 5px;
    padding: 5px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 100px;
    height: 100px;
    overflow: scroll;   
    scrollbar-width: none;
    background-color: hsla(0, 0%, 0%, 0.61);
    position: absolute;
    top:
}

.player-list::-webkit-scrollbar{
    display: none;
}


.player-list li{
    width: 100%; 
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

.player-list li p{
font-size: smaller;
    color: white;
}

/*loader icon*/
.double-spinner{
    width: 25px;
    aspect-ratio: 1/1;
    border: 5px solid transparent;
    border-radius: 50%;
    border-color: rgb(0, 119, 225) transparent rgb(0, 119, 225) transparent;
    animation: double-spin 1.7s linear infinite;
}

@keyframes double-spin{
    to{
        transform: rotate(360deg);
    }
}

.connection-state{
    display: grid;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    place-items: center;
}


/*reconnection*/

.reconnection{
    display: none;/*grid*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    place-items: center;
    z-index: 9999;
}

.reconnection .animate{
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 4px;
}
.reconnection .animate .animate-content{
    display: flex;
    gap: 3px;
    justify-content: center;
}
.reconnection .animate .animate-content div{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: reconnection 1s infinite;
}

.reconnection .animate .animate-content div:nth-child(1){
    animation-delay: 0.2s;
}
.reconnection .animate .animate-content div:nth-child(2){
    animation-delay: 0.4s;
}
.reconnection .animate .animate-content div:nth-child(3){
    animation-delay: 0.6s;
}

@keyframes reconnection{
    0%{
        transform: scale(1);
        background-color: black;
    }
    50%{
        transform: scale(1.2) translateY(4px);
        background-color: grey;
    }
    100%{
        transform: scale(1) translateY(0px);
        background-color: black;
    }
}

.event-game{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    color: gold;
    font-size: 30px;
    z-index: 9999;
    animation: flash 2s ease-in-out;
    place-items: center;
    height: fit-content;
    width: fit-content;
}

@keyframes flash{
         0%{
        display: grid;
            opacity: 1;
        }50%{
            transform: scale(1.2);
        }100%{
            opacity: 0;
            display: none;
        }
    
    }


    .game-utils{
        display: grid;
        place-items: center;
        width: 150px;
        height: 150px;
    }

    .game-utils.fold{
        background-color: rgb(35, 139, 236);
    }

    .game-utils.call{
        background-color: greenyellow;
    }

    .game-utils.check{
        background-color: gold;
    }