.table{
    padding: 15px;
    border-radius: 50% / 30%; /* ellisse */
    border: 1px solid black;
    width: 50%;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
    box-shadow: 5px 5px 10px black;
    background-color: rgba(207, 207, 207, 0.308);
    display: grid;
    place-items: center;
    gap: 10px;
}

.dealer i{
    position: absolute;
    top: -5px;
}

.card{
    display: grid;
    gap: 10px;
    place-items: center;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr); /*riglia 2 X 3*/
}
.card .table-card{
    width: 50px;
    height: 70px;
    border: 1px solid black;
    border-radius: 15px;  
}

.now-card{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.now-card div{
    width: 70px;
    height: 110px;
    border: 1px solid black;
    border-radius: 15px;
}

.game-options{
    position: absolute;
    display: grid;  
    gap: 10px;
    bottom: 10px;
    right: 10px;
}
.game-options .option{
    display: none;
}
.event-game{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.game-options .info  .point{
    animation: compare 1.5s infinite;
}

@keyframes compare{
    0%{
        color: black;
    }100%{
        color:transparent;
    }
}

.game-options .info .point:nth-child(1){
    animation-delay: 2s;
}
.game-options .info  .point:nth-child(2){
    animation-delay: 1s;
}
.game-options .info  .point:nth-child(3){
    animation-delay: 0s;
}

