/*chat animation*/
#send-container input{
    width: 100px;
}

#send-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1px;
}

#send-container button{
 background-color: rgba(0, 0, 0);
  border: 1px solid white; 

}
.open-chat{
    display: block;
    position: absolute;
    bottom: 150px;
    left: 0;
    background-color: black;
    padding: 4px 2px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    animation: compareButton .1s ease-in-out;
}

@keyframes compareButton{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.open-chat.hidden{
    display: none;
}

.close-chat{
    justify-content: right;
    align-items: center;
    display: flex;
    cursor: pointer;
    border-bottom: 1px dashed white;
    height: fit-content;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 7px 0px;
}

.allmessage.hidden{
    animation: close .1s ease-in-out;
}

@keyframes close{
    0%{
        opacity: 1;
        transform: translateX(0px);
    }
    100%{
        opacity: 0;
        transform: translateX(-100%);
    }
}

.allmessage{
    display: grid;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(196, 196, 196, 0.185);
    transition: .1s ease-in-out;
    animation: openChat .1s ease-in-out;
    max-width: 250px;
}

@keyframes openChat{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
#message-container{
    height: 150px;
    overflow: scroll;
    display: grid;
    gap: 7px;
    padding: 7px;
    scrollbar-width: none;
    background-color: rgba(0, 0, 0);
}

#message-container .message-utils{
  display: grid;
  place-items: left;
  color: white;
  width: 100%;
  height: fit-content;
}
#message-container .message-table{
    font-size: smaller;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border: 1px solid grey;
    display: grid;
    width: 90%;
    max-width: 100%;
  height: fit-content;
  color: white;
   min-width: 0;

}

#message-container .message-table .name{
    font-weight: bold;
    font-size: 8px;
    width: 100%;
    justify-content: left;
    padding-left: 3px;
    padding-bottom: 2px;
    color:grey;
    border-bottom: 1px solid grey;
}

#message-container .message-table .message{
    text-align: left;
    padding-left: 4px;
    font-size: 14px;
     color:white;
    overflow-wrap: break-word; /* moderno */
    word-wrap: break-word;     /* compatibilità */
    white-space: normal;       /* permette l'andata a capo */
    word-break: break-all;
    height: fit-content;
    width: 100%;
}
#message-container::-webkit-scrollbar{
    display: none;
}