.menu{
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    background-color: rgba(70, 54, 5, 0.445);
    padding: 5px;
}
.profile{
    display: flex;
    gap: 3px;
    align-items: baseline;
    justify-content: center;
}
.profile i{
    cursor: pointer;
}
.gioca{
    display: grid;
    gap: 5px;
    place-items: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;
    height: fit-content;
    width: fit-content;
    border: 1px solid black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: hsla(0, 0%, 63%, 0.164);
}

.exit{
    cursor: pointer;
}

.exit:hover{
    color: red;
}

/*
all'exit
*/
.dimmed {
  opacity: 0.1;
  pointer-events: none; /* evita click sugli elementi oscurati */
}
.exit-content {
    display: none;
  opacity: 1 !important;
  pointer-events: auto !important;
  position: absolute;
  z-index: 9999;
  border: 1px solid black;
  padding: 15px;
  place-items: center;
  gap: 10px;
  width: fit-content;
  height: fit-content;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: grey;
  border-radius: 15px;
  box-shadow: 5px 5px 10px black;
}

.exit-content .button{
    display: flex;
    gap: 5px;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
}

.connect{
    position: absolute;
     left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
}

.flex{
    display: flex;
    gap: 2px;
}

.connect .animate div{
    height: 30px;
    width: 8px;
    animation: animate 2s ease-in-out infinite;
    background-color: black;
}

.connect .animate{
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
}


@keyframes animate{
    0%{
        transform: scaleY(1);
    }
    20%{
        transform: scaleY(1.7);
        background-color: orange;
    }
    100%{
        transform: scaleY(0.5);
        background-color: black;
    }
}

.connect .animate div:nth-child(1){
    animation-delay: 0.2s;
}
.connect .animate div:nth-child(2){
    animation-delay: 0.4s;
}
.connect .animate div:nth-child(3){
    animation-delay: 0.6s;
}
.connect .animate div:nth-child(4){
    animation-delay: 0.8s;
}
.connect .animate div:nth-child(5){
    animation-delay: 1s;
}


/*imp-table*/
#imp-table{
    display: grid;
    place-items: center;
    gap: 5px;
}

.input-box input,
.input-box .flex input,
#join .input-box input{
    width: 150px;
    padding: 12px 8px;
    border-radius: 8px;
    border: 1px solid black;
    outline: none;
}


.input-box{
    position: relative;
}

.input-box label,
#join .input-box label{
    position: absolute;
    top: 10px;
    left: 8px;
    color: black;
    transition: .3s;
}

.input-box input:focus+label,
.input-box input:not(:placeholder-shown) + label,
#join .input-box input:focus+label,
#join .input-box input:valid + label{
    top: -5px;
    color: white;
    font-size: 9px;
    color: white;
    background-color: black;
    padding: 2px 4px;
    border-radius: 12px;
}

.radio-button{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);/*griglia 2 X 2*/
    row-gap: 5px;
    column-gap: 5px;
    place-items: center;
}

#backHome{
    cursor: pointer;
}

#imp-table .header,
#join .header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    height: fit-content;
    padding: 4px 3px;
}
