/*profile-menu*/

.profile-menu{
    display: none;
    pointer-events: none;
    animation: close .2s ease-in-out;
   width:fit-content;
    height: fit-content;
    max-width: 200px;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    position: absolute;
    right: 0px;
    top:0px;
    z-index: 9999;
    gap: 15px;
    background-color: rgb(226, 181, 44);
    padding-bottom: 10px;
    padding-left: 0px;
}

.profile-menu::-webkit-scrollbar{
    display: none;
}

@keyframes close{
    0%{
       transform: rotateX('0deg') ;
       display: grid;
    }
    100%{
        display: none;
      transform: rotateX('-90deg');
    }
}

.profile-menu.active{
    pointer-events: auto;
    display: grid;
    position: absolute;
    right: 0px;
    top:0px;
    z-index: 1;
    gap: 15px;
 background-color: rgb(226, 181, 44);
    animation: enter 1s ease-in-out;
    width:fit-content;
    height: fit-content;
    max-width: 200px;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

.profile-menu.active::-webkit-scrollbar{
    display: none;
}

@keyframes enter{
    0%{
        transform:  rotateX('-90deg');
    }100%{
       transform: rotateX('0deg');
    }
}

.profile-menu .close{
    width: 100%;
    height: fit-content;
    padding: 3px 2px;
    display: flex;
    align-items: center;
    justify-content: right;
    
}
.profile-menu .close p{
    text-align: center;
    background-color: red;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.profile-menu .header{
    display: grid;
    place-items: center;
    gap: 10px;
    color: black;
}
.profile-menu .option{
    display: grid;
    gap: 0px;
    width: 100%;
}

.profile-menu .option .element{
    padding: 4px 2px;
    cursor: pointer;
    transition: .3s;
    color: black;
    display: flex;
    gap: 5px;
    justify-content: left;
    align-items: baseline;
    border-bottom: 1px solid black;
    width: 100%;
}

.profile-menu .option .element p{
    overflow-wrap: break-word; /* moderno */
    word-wrap: break-word;     /* compatibilità */
    white-space: normal;       /* permette l'andata a capo */
}
.profile-menu .option .element:first-child{
    border-top: 1px solid black;
}


.profile-menu .option .element:hover{
    background-color: rgba(70, 54, 5, 0.445);
}

.profile-menu .logout{
    width: 100%;
    display: grid;
    place-items: center;
    height: fit-content;
    padding-top: 15px;
}

.profile-menu .logout button{
     padding: 8px 6px;
    cursor: pointer;
    text-align: center;
     transition: .3s;
    color: black;
     border-radius: 10px;
    border: 2px solid black;
    background-color: rgb(185, 71, 71);
    font-weight: bold;
}

.profile-menu .logout button:hover{
    background-color: rgb(255, 0, 0);
}

/*aggiungi img profilo*/

.image-profile{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: fit-content;
    height: fit-content;
    max-width: 300px;
    max-height: 400px;
    background-color: rgb(226, 181, 44);
    display: none;
    place-items: center;
    padding: 5px 4px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}
.image-profile .close{
    width: 100%;
    height: fit-content;
    padding: 3px 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.image-profile .close p{
    text-align: center;
    background-color: red;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.image-profile .preview{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    overflow: hidden;
    background-color: white;
    margin: 10px 0px;
    background-position: center;
    background-size: cover;
}

/*editor*/
.editor {
  position: relative;
}

.cropper-view-box,
.cropper-face {
  border-radius: 50% !important;
}

.cropper-view-box {
  outline: 9999px solid rgba(0,0,0,0.6); /* oscura tutto tranne il cerchio */
}

.cropper-face {
  background: none !important;
}
.editor {
  position: absolute;
  inset: 0;
  background: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
}

.editor.hidden {
  display: none;
}

.editor img {
  max-width: 100%;
  max-height: 200px;
}

.editor-buttons {
  display: flex;
  justify-content: space-between;
}

.image-profile .button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 7px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
}

.image-profile .button button{
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: rgb(185, 71, 71);
    color: black;
}


